SECRET_KEY=your-secret-key-here   # Secret key for your Django project
POSTGRES_PASSWORD=your-postgres-password  # Password for the PostgreSQL user
POSTGRES_USER=your-postgres-username  # Username for PostgreSQL
POSTGRES_DB=your-database-name  # Name of the PostgreSQL database
POSTGRES_HOST=localhost  # Host address of the PostgreSQL server (default is localhost)
POSTGRES_PORT=5432  # Default port for PostgreSQL
PGDATA=/var/lib/postgresql/data  # Directory where PostgreSQL data is stored
